In [3]:
import pandas as pd

train = pd.read_csv("nlp-getting-started/train.csv")
test = pd.read_csv("nlp-getting-started/test.csv")

In [14]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [12]:
train.keyword.value_counts()

fatalities               45
armageddon               42
deluge                   42
body%20bags              41
sinking                  41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

In [15]:
train.location.value_counts()

USA                             104
New York                         71
United States                    50
London                           45
Canada                           29
                               ...
AsunciÌ_n-PY / TÌ_bingen-GER      1
Gloucester                        1
Suburban Detroit, Michigan        1
Fort Collins, CO                  1
?? Cloud Mafia ??                 1
Name: location, Length: 3341, dtype: int64

In [26]:
train[train["target"] == 1]["text"].values[6]

'#flood #disaster Heavy rain causes flash flooding of streets in Manitou, Colorado Springs areas'

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

vec = TfidfVectorizer()

train_df = vec.fit_transform(train["text"])
test_df = vec.transform(test["text"])

In [28]:
from sklearn.linear_model import RidgeClassifier
rc = RidgeClassifier()

In [30]:
from sklearn.model_selection import cross_val_score

In [32]:
scores = cross_val_score(rc, train_df, train["target"], cv=3, scoring="f1")
scores

array([0.63366337, 0.6122449 , 0.68442211])